$linkColor: #1fbcd3;
$textColor: #617d8a;
$articleColor: #efefef;
$lineColor: #849aa4;
$buttonColor: #31b0d5;
$h3Color: #1697A6;
$post_descriptionColor: #159587;
$backgroundColor: #ffffff;
$searchColor: darken($linkColor, 17%);
$font_family: sans-serif;