$linkColor: #fc6145;
$textColor: #757575;
$articleColor: #ffffff;
$lineColor: #cfd8dc;
$buttonColor: #8c3232;
$h3Color: #617d8c;
$post_descriptionColor: #bdbdc1;
$backgroundColor: #efefef;
$searchColor: darken($linkColor, 17%);
$font_family: serif;